nav {
    list-style-type: none;
    padding: 1em;
    background-color: #2D3E49;
    margin-bottom: 1em;
}

li {
    display:inline-block;
    padding-right: 2em;
}

.adHover:hover{
    color: lightcyan;
    font-style: italic;
}

.addItem{
    display: block;
    margin-top: 1em;
    padding: 1em;
    border: 3px solid black;
    height: 4em;
    background-color: #0f8dd7;
    color: #303e48;
}

.addList{
    margin-left: 5%;
    width: 90%;
    padding: 2em;
    background-color: #303e48;
    border: 3px solid #0f8dd7;
    align-content: center;
}

a, .login{
    color: #FFF;
}

.search, .login {
    float: right;
    margin-left: 2em;
}

.ads {
    float: left;
    margin: 1em;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 300px;
}

.login {
    padding: 2px 5px;
    border: none;
}

.loginform {
    margin: 0 auto;
}

.delete{
    float: right;
    position: absolute;
    right: 1em;
    z-index: 2;

}


/*h1, h3 {*/
    /*float: left;*/
/*}*/




.adContainer, .categories {
    clear: both;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

div p {
    clear: both;
}

body {
    background-color: #BFC8CE;
}


.adDesc {
    padding-left: 1em;
    clear: both;
    margin-bottom: 0;
}

.form-group {
    clear: both;
}

.adButton {
    background-color: transparent;
    border: none;
}

.drop {
    margin: .5em auto;
    width: 90%;
}

.carousel {
    width: 70%;
    margin: 0 auto;
}

.carousel-item {
    text-align: center;
}

.centered {
    margin: 0 auto;
}

.textcent {

    text-align: center;
}